/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

:root {
    --font-family1: 'PT Sans';
    --font-family2: 'Noto Sans Japanese';
    --color1: #fd7742;
    --color2: rgb(206, 62, 18);
}

body {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: -3px 0 3px rgb(215, 215, 215), 3px 0 3px rgb(215, 215, 215);
}

button {    
    text-align: center;
}

.header, .page {
    padding-left: 60px;
    padding-right: 60px;
}

.favorites-page {
    padding-left: 10px;
    padding-right: 10px;
}

label, table, p {
    font-family: var(--font-family1);
}

.web-name-label {
    color: rgb(255, 255, 255);
    font-family: Serif;
    font-weight:600;
    font-size: 2.5em;
    text-shadow: -1px -1px 0 #ff1635, 1px 1px 0 #000000;
}

.name-space {
    transform:scaleX(1.2);
}

.name-label {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}

.name-label-space {
    margin-bottom: 20px;
}

.framed-button {
    background-color: white;
    border: 1px solid var(--color1);
}

.button-label {    
    color: var(--color1);
    font-weight: 600;
}

.name-search-space, .pages-button-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages-space, .search-space {
    display: flex;
    flex-direction: row;
}

.pages-space {
    gap: 29px;
}

.search-space {
    gap: 10px;
}

.categories-space {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.button-label {
    font-size: 1.1em;
}

.add-button-label {
    font-size: 1.1em;
}

.search-button-label {
    font-size: 0.8em;
}

.category-label {
    font-size: 0.65em;
    color: rgb(165, 165, 165);
}

.dotted-hr {
    border: none;
    border-left: 1px dotted rgb(156, 156, 156);
    width: 0px; 
    height: 20px;
}

.table-buttons-space, .table-pages-button-space {
    display: flex;
    flex-direction: row;
    justify-content:start;
    margin-top: 5px;
}

.table-pages-first-space, .table-pages-last-space {
    height: 100%;
    margin-top: 0px;
}

.page-button, .table-span, .table-first, .table-last {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.table-span {
    font-weight: 100;
    font-size: x-small;
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(130, 130, 130);
    margin: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.about-paragraph {
    text-align: left;
}

.statistics-table {
    width: 100%;
    font-size: 0.6em;
    table-layout: fixed;
}

th {
    font-size: 1.2em;
    height: 25px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}  

td {
    height: 20px;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f9f5f5;
}

.statistics-table td:nth-child(1) {
    text-align: left;
}

.statistics-table th:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.table-button {
    background: none;
    border: none;
    color: rgb(57, 158, 160);
    font-family: var(--font-family1);
    font-size: 0.55em;
}

.teachers-page-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    column-gap: 20px;
    padding: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.teachers-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 100px;
    max-width: 190px; 
    justify-content: center;
    align-items: center;
}

.favorites-page-list {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.list-button-space {
    width: 20px;
}

.favorites-list {
    display: flex;
    flex-direction: row;
    padding: 25px;
    gap: 5px;
    width: calc(100% - 40px);
    overflow-x: hidden;
}

.teachers-card-short {
    width: calc(100% / 5);
    min-width: calc(100% / 5);
    max-width: calc(100% / 5);
    height: 160px;
}

.teacher-name, .teacher-surname {
    font-family: var(--font-family2); 
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}

.teacher-surname {
    margin-top: 5px;
}

.teacher-speciality {
    font-size: 0.65em;
    font-weight: 500;
    color: rgb(165, 165, 165);
    margin-top: 10px;
}

.teacher-region {
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.img-wrap {
    position: relative;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: 2px solid var(--color1);
}

.teacher-photo {
    width: 100%;
    border-radius: 50%;
}

.photo-span {
    font-family: var(--font-family2);
    color: var(--color1);
    font-weight: 500;
    line-height: 80px;
}


.list-button {
    border: none;
    background: none;
}

.list-button img {
    width: 10px;
    height: 30px;
}

.ab-but-label {
    font-weight: 500;
}

p {
   font-size: 0.65em; 
}

input, select {
    font-family: var(--font-family1);
    font-size: 0.6em;
    width: fit-content;
}

option {
    font-size: 1.0em;
}

.search-space {
    height: 25px;
}

.search-input {
    width: 150px;
    height: 100%;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 3%;
}

.search-input::placeholder {
    font-size: 1.05em;
}

.search-button {
    width: 65px;
    height: 100%;
}

.add-button {    
    width: 100px;
    height: 35px;
}

.checkbox {
    width: 9px;
    height: 9px;;
}

.star-container {
    position: relative;
    width: 100px;
}

.teacher-star {
    width: 22px;
    position: absolute;
    top: -86px;
    right: 2px; 
}

.teacher-star.false {
    display: none;
}

.pages-button-space {
    margin-top: 30px;
}

.about-page .pages-button-space {
    margin-top: 20px;
}

.page-button label {
    font-size: 1.16em;
}

.category-space select {
    width: 55px;
    max-width: fit-content;
    margin-left: 4px;
}

.teachers-card-short .teacher-region {
    margin-top: 10px;
}

.img-wrap:hover {
    border-color: var(--color2);
}

.img-wrap:hover .teacher-photo {
    transform: scale(1.2); 
}

.img-wrap:hover .photo-span {
    font-size: 1.2em; 
    font-weight: 600;
    color: var(--color2)
}

.page-button:hover label {
    color: var(--color2);
}

.framed-button:hover {
    border-color: var(--color2);
    background-color: var(--color2);
}

.framed-button:hover label {
    color: white;
}

.search-input:hover {
    width: 200px;
}

.table-button:hover {
    color: rgb(11, 75, 78);
}

.table-page:disabled{
    color: #000;
}

th:hover {
    background-color: hsl(195, 25%, 97%);
    box-shadow: inset 0px -1px 0px black;
}

th:hover::after {
    content: "↑";
    margin-left: 5px;
    color:rgb(57, 158, 160);
}

th.des:hover::after {
    content: "↓";
    margin-left: 5px;
    color:rgb(57, 158, 160);
}

.web-name-label:hover {
    color:rgb(232, 232, 232);
    text-shadow: -2px -1px 0 #ff1635, -1px -1px 0 #ff1635, 1px 1px 0 black, 2px 1px 0 black;
}

.list-button:hover {
    filter:brightness(-100%);
}











.add-form-space {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.add-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 620px;
    background-color: #fff;
    border-radius: 2px;
    font-family: var(--font-family1);
    box-shadow: 0 8px 8px rgba(32, 32, 32, 0.5);
}

.name-area {
    width: 100%;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: rgb(64, 64, 64);
    color: white;
    display: flex;
    justify-content: space-between;

}

.add-form-name, .long-card-name {
    height: 100%;
    font-size: large;
    line-height: 40px;
}

.form-close-button, .card-close-button {
    height: 100%;
    background: none;
    border: none;
    color: white;
    font-size: x-large;
    line-height: 40px;
}

.input-area {
    width: 100%;
    padding: 25px;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.form-space {
    display: flex;
    flex-direction: column;
    gap: 5px
    
}

.form-space label {
    text-align: start;
}

.form-input {
    width: 100%;
    height: 25px;
    font-size: 15px;
}

.form-name::placeholder {
    font-size: 5px;
}

.address, .contacts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.address .form-space, .contacts .form-space {
    width: 100%;
}

.form-date-space, .form-sex-space, .form-color-space {
    width: calc(50% - 15px);
}

.form-sex-space, .radio {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.radio .form-input {
    width: 9px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.radio {
    gap:0px;
}

.form-color {
    width: 30px;
    height: 15px;
}

.form-color-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-notes {
    height: 90px;
}

.form-input:hover {
    border: 2px solid var(--color1);
    border-radius: 3px;
}

.form-button {
    height: 45px;
    border: 1px solid var(--color1);
    border-radius: 0px;
    background-color: white;
    color: var(--color1);
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}

.form-button:hover {
    border: 1px solid var(--color2);
    border-radius: 0px;
    background-color: var(--color2);
    color: white;
}

.form-close-button:hover, .card-close-button:hover {
    font-size: xx-large;
}

.radio .form-input:hover {
    width: 10px;
}

.form-input::placeholder, .form-input .option-label {
    font-size: 1.3em;
}

select.form-input {
    font-size: 0.8em;
}

.form-date {
    font-size: 0.8em;
}

.color-pict {
    width: 10px;
}

.card-map-container {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#map, .leaflet-pane {
    width: 100%;
    height: 200px;
}



.teacher-long-card-space {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.teacher-long-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    background-color: #fff;
    border-radius: 2px;
    font-family: var(--font-family1);
    box-shadow: 0 8px 8px rgba(32, 32, 32, 0.5);
}

.card-name-area {
    width: 100%;
    height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: rgb(64, 64, 64);
    color: white;
    display: flex;
    justify-content: space-between;
}

.card-content-area {
    width: 100%;
    padding: 15px;
}

.card-photo {
    float: left;
    width: 200px;
}

.card-star {
    float: right;
    width: 30px;
}

.card-star:hover {
    transform: scale(1.2);
}

.imp-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-notes {
    text-align: left;
}

.card-content-area {
    font-family: var(--font-family1);
}

.card-name {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card-speciality {
    font-size: 0.9em;
    font-weight: 900;
    margin-bottom: 17px;
}

.card-address, .card-pi, .card-email, .card-untilBd {
    font-size: 0.7em;
    margin-bottom: 10px;
}

.card-pi {
    margin-bottom: 5px;
}

.card-untilBd {
    font-size: 10px;
}

.card-email, .card-map {
    font-size: 0.7em;
    color:rgb(17, 176, 211);
    text-decoration: none;
}

.card-map {
    float: left;
    margin-top: 15px;
    text-decoration: underline dashed;
    text-underline-offset: 4px;
}

.card-tel {
    font-size: 0.65em;
}

.card-map:hover, .card-email:hover {
    font-size: 0.76em;
}


@media (max-width: 768px) {

    .header, .page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .name-search-space {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0px;
    }

    .pages-button-space {
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
    }

    .pages-space {
        flex-direction: row;
        justify-content: center;
    }

    .categories-space {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 0%;
        padding-right: 0%;
    }

    .dotted-hr {
        display: block;
    } 

    .teachers-page-list {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        justify-items: center;
        row-gap: 30px;
    } 

    .favorites-page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .favorites-page-list {
        width: 100%;
        justify-items: center;
    }

    .favorites-list {
        justify-content: start;
    }

    .teachers-card {
        width: 100%;
    }

    .teachers-card-short {
        height: fit-content;
        width: calc(100% / 4);
        min-width: calc(100% / 4);
        max-width: calc(100% / 4);
    }

    .img-wrap {
        width: 100px;
        height: 100px;        
        line-height: 90px;
    }

    .star-container {
        width: 100px;
    }
    
    .teacher-star {
        width: 22px;
        position: absolute;
        top: -93px;
        right: -3px; 
    }

}

@media (max-width: 652px) {

    .header, .page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .name-search-space {
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0px;
    }

    .pages-button-space {
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
    }

    .pages-space {
        flex-direction: row;
        justify-content: center;
    }

    .categories-space {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 11%;
        padding-right: 11%;
    }

    .dotted-hr {
        display: block;
    } 

    .teachers-page-list {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;
        row-gap: 30px;
    } 

    .favorites-page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .favorites-page-list {
        justify-items: center;
    }

    .favorites-list {
        justify-content: start;
    }

    .teachers-card {
        width: 100%;
    }

    .teachers-card-short {
        height: fit-content;
        width: calc(100% / 3);
        min-width: calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .img-wrap {
        width: 120px;
        height: 120px;        
        line-height: 110px;
    }

    .star-container {
        width: 120px;
    }
    
    .teacher-star {
        width: 25px;
        position: absolute;
        top: -112px;
        right: -1px; 
    }

    .teacher-long-card {
        width: 500px;
        height: fit-content;
    }

}

@media (max-width: 511px) {

    .header, .page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .name-search-space {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .pages-button-space {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
    }

    .pages-space {
        flex-direction: row;
        justify-content: center;
    }

    .categories-space {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .dotted-hr {
        display: none;
    } 

    .teachers-page-list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
        row-gap: 30px;
    } 

    .favorites-page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .favorites-page-list {
        justify-items: center;
    }

    .favorites-list {
        justify-content: start;
    }

    .teachers-card {
        width: 100%;
    }

    .teachers-card-short {
        height: fit-content;
        width: calc(100% / 2);
        min-width: calc(100% / 2);
        max-width: calc(100% / 2);
    }

    .img-wrap {
        width: 120px;
        height: 120px;        
        line-height: 110px;
    }

    .star-container {
        width: 120px;
    }
    
    .teacher-star {
        width: 25px;
        position: absolute;
        top: -112px;
        right: -1px; 
    }

    .teacher-long-card {
        width: 400px;
        height: fit-content;
    }

}

@media (max-width: 400px) {

    body {
        width: 400px;
    }

    .header, .page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .name-search-space {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .pages-button-space {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        gap: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
    }

    .pages-space {
        flex-direction: column;
        justify-content: center;
    }

    .categories-space {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .dotted-hr {
        display: none;
    } 

    .teachers-page-list {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;
        row-gap: 30px;
    } 

    .favorites-page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .favorites-page-list {
        justify-items: center;
    }

    .favorites-list {
        justify-content: start;
    }

    .teachers-card {
        width: 100%;
    }

    .teachers-card-short {
        height: fit-content;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .img-wrap {
        width: 140px;
        height: 140px;        
        line-height: 130px;
    }

    .star-container {
        width: 140px;
    }
    
    .teacher-star {
        width: 30px;
        position: absolute;
        top: -126px;
        right: -6px; 
    }

    .teacher-long-card {
        width: 375px;
        height: fit-content;
    }

}